* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper .area:after,
.wrapper .area:before {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
}

a {
    text-decoration: none;
    color: #888888;
}

body {
    background-color: #fff;
    font: normal 12px/1.5 Microsoft yahei, Arial;
    color: #666;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-width: 1200px;
    display: block;
    .area {
        width: 1190px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 5px;
        padding-right: 5px;
        text-align: left;
        padding: 0 5px;
        min-width: 1000px;
    }
}

.simpletopbar {
    height: 98px;
    border-bottom: 2px solid #c33;
    .left {
        float: left;
        .logo {
            width: 311px;
            height: 73px;
            background: url(//s2.ymatou.com/top/a09cf0d320e4ffc6445ae0ec42cb02f0.png);
            display: block;
            float: left;
            margin: 12px 0 13px;
        }
    }
    .right {
        padding-top: 40px;
        float: right;
        line-height: 30px;
        .item {
            float: left;
            width: 80px;
        }
        .top-dropdown {
            position: relative;
        }
        .top-dropdown:hover .dropdownlist {
            display: block;
        }
        .dropdownlist {
            display: none;
            background-color: #fff;
            line-height: 18px;
            position: absolute;
            top: 22px;
            overflow: hidden;
            li {
                margin-top: 10px;
            }
        }
        .top-dropdown .arrow {
            height: 0;
            font-size: 0;
            line-height: 0;
            overflow: hidden;
            display: inline-block;
            border-width: 3px;
            border-style: solid dashed dashed;
            border-color: #666 transparent transparent;
            margin: 6px 3px 0;
        }
    }
}

//body----------------------------------------
.div_900 {
    width: 900px;
    margin: 50px auto 0;
    height: 450px;
    #img_login {
        width: 452px;
        height: 260px;
        margin-top: 30px;
        float: left;
        .haiwaituan {
            width: 452px;
            height: 260px;
            background: url(//s2.ymatou.com/login/5aebbf5a6893bd825441a68a60b42b51.jpg);
            display: block;
        }
    }
    .input_div {
        width: 360px;
        float: right;
        .gary_f1 {
            font-size: 14px;
            color: #666;
            text-align: left;
            .line {
                border-left: 1px solid #ccc;
                width: 1px;
                height: 13px;
                vertical-align: middle;
                display: inline-block;
            }
        }
        .input_login {
            width: 360px;
            border: 1px solid #ccc;
            background-color: #efefef;
            margin: 5px 0 1px;
            .input_login_bk {
                width: 350px;
                margin: 5px;
                padding: 30px 0;
                text-align: center;
                background-color: #fff;
                #logForm {
                    .gary_f2 {
                        font-size: 14px;
                        color: #333;
                    }
                    .div_input {
                        height: 28px;
                        width: 300px;
                        margin: 0 auto 15px;
                        .input_style {
                            width: 200px;
                            height: 26px;
                            border: 1px solid #dadada;
                            border-top: 1px solid #bababa;
                        }
                        .blue {
                            color: #3368ff;
                        }
                        #checkbox_login li {
                            float: left;
                            margin-left: 68px;
                            #IsRemember {
                                vertical-align: middle;
                            }
                        }
                        #loginBtn {
                            width: 67px;
                            height: 30px;
                            background: url(//s2.ymatou.com/login/0c514d7e61b7db90f0798895c10e05a9.png);
                            cursor: pointer;
                            display: inline-block;
                        }
                        .forgetPwd {
                            margin-left: 20px;
                            line-height: 30px;
                            display: inline-block;
                            vertical-align: top;
                        }
                    }
                }
                #line_line {
                    margin: 0 auto 15px;
                    font-size: 0;
                    border-top: 1px solid #efefef;
                    border-bottom: 1px solid #fff;
                    width: 280px;
                }
                .gary_f3 {
                    font-size: 12px;
                    color: #666;
                }
                .left_ul_li {
                    width: 300px;
                    height: 28px;
                    margin: 0 auto;
                    text-align: center;
                    li {
                        margin-right: 6px;
                        height: 18px;
                        line-height: 18px;
                        display: inline-block;
                        .sina_login {
                            display: inline-block;
                            width: 80px;
                            .sina_login i {
                                background-image: url(//s2.ymatou.com/login/d50e308ab6557dead5473e95d8901975.png);
                                background-repeat: no-repeat;
                                background-position: -86px -235px;
                                height: 21px;
                                float: left;
                            }
                        }
                        #buttonAlipayFastPayment i,
                        #wxLogin i {
                            display: inline-block;
                            cursor: pointer;
                            vertical-align: middle;
                        }
                        #buttonAlipayFastPayment i {
                            height: 16px;
                            background: url(//s2.ymatou.com/login/d50e308ab6557dead5473e95d8901975.png) -62px -235px;
                            background-repeat: no-repeat;
                        }
                        #wxLogin i {
                            height: 20px;
                            background: url(//s2.ymatou.com/login/bfdb5897258b551e046ea2fbc433c70b.png);
                            background-repeat: no-repeat;
                        }
                        .line {
                            border-left: 1px solid #ccc;
                            width: 1px;
                            height: 13px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}